--swiftversion 6.0
--minversion 0.54

# File options
--exclude Ditto/Ditto.xcdatamodeld

# Format options
--indent 4
--indentcase false
--trimwhitespace always
--voidtype void
--wrapcollections before-first
--wraparguments before-first
--wrapparameters before-first
--closingparen balanced
--commas always
--decimalgrouping 3
--exponentcase lowercase
--fractiongrouping disabled
--header ignore
--hexliteralcase uppercase
--importgrouping alpha
--linebreaks lf
--maxwidth 150
--operatorfunc spaced
--patternlet hoist
--ranges spaced
--self remove
--semicolons inline
--stripunusedargs closure-only
--trailingclosures
--typeattributes prev-line
--varattributes same-line
--wrapconditions preserve
--wrapternary default

# Rules
--enable blankLinesBetweenScopes
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable consecutiveSpaces
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable leadingDelimiters
--enable redundantInit
--enable redundantLet
--enable redundantNilInit
--enable redundantParens
--enable redundantReturn
--enable redundantSelf
--enable redundantType
--enable redundantVoidReturnType
--enable sortImports
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable trailingSpace
