--swiftversion 5.10
--exclude Ditto/Ditto.xcdatamodeld
--indent 4
--trimwhitespace always
--header ignore
--linebreaks lf
--self remove
--semicolons inline
--stripunusedargs closure-only
--wrapconditions preserve
--wraparguments preserve
--wrapparameters preserve
--wrapcollections preserve
--rules sortImports,trailingSpace,consecutiveSpaces,duplicateImports
