--swiftversion 5.10

# File options
--exclude Ditto/Ditto.xcdatamodeld

# Format options
--indent 4
--trimwhitespace always
--header ignore
--importgrouping alpha
--linebreaks lf
--self remove
--semicolons inline
--stripunusedargs closure-only
--wrapconditions preserve
--wraparguments preserve
--wrapparameters preserve
--wrapcollections preserve

# Rules - only enable safe, non-controversial ones
--enable consecutiveSpaces
--enable duplicateImports
--enable redundantParens
--enable redundantReturn
--enable redundantSelf
--enable redundantVoidReturnType
--enable sortImports
--enable trailingSpace

# Disable rules that conflict with SwiftData @Model or are too opinionated
--disable redundantType
--disable redundantNilInit
--disable redundantInit
--disable redundantLet
--disable blankLinesBetweenScopes
--disable blankLinesAtEndOfScope
--disable blankLinesAtStartOfScope
--disable wrapMultilineStatementBraces
--disable spaceAroundBraces
--disable spaceAroundBrackets
--disable spaceAroundComments
--disable spaceAroundGenerics
--disable spaceAroundOperators
--disable spaceAroundParens
--disable spaceInsideBraces
--disable spaceInsideBrackets
--disable spaceInsideComments
--disable spaceInsideGenerics
--disable spaceInsideParens
--disable emptyBraces
--disable leadingDelimiters
